.dashboard-account-page {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 30px 50px;

  &__wrapper {
    display: flex;
    flex-grow: 1;
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-grow: 1;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__row {
    display: flex;
  }

  &__title {
    margin: 0 20px 30px 0;
    font-size: 24px;
    font-weight: normal;
    color: #333;
  }

  .dashboard-account-provider-info-component,
  .dashboard-account-prof-info-component,
  .dashboard-account-patient-info {
    display: flex;
    margin-bottom: 20px;

    &__col {
      display: flex;
      flex-direction: column;

      &--left {
        margin-right: 20px;
      }

      &--right {
        flex-grow: 1;
      }
    }

    &__label {
      line-height: 1.9;
      font-size: 16px;
      color: #777;
    }

    &__info {
      line-height: 1.9;
      font-size: 16px;
      color: #333;
    }
  }

  &__edit-btn {
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: #4a4a4a;
  }

  &__add-document-btn {
    flex-grow: 1;
    max-width: 160px;
    height: 30px;
    border-radius: 3px;
    font-size: 12px;
    color: #333;
    background-color: #fff;
    border: solid 1px #4a4a4a;

      &:hover {
        opacity: 0.8;
      }
  }

  .dashboard-account-patient-info-component {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__tabs {
    list-style: none;
    display: flex;
    padding: 0;
  }

  &__tab {
    width: 78px;
    height: 35px;
    font-size: 16px;
    color: #111;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 25px;
    }

    &--current,
    &:hover {
      position: relative;
      font-weight: bold;

      &::after {
        content: '';
        position: absolute;
        display: block;
        bottom: 0;
        width: 100%;
        height: 4px;
        background-color: #4a4a4a;
      }
    }

    &--current {
      cursor: default;
    }
  }
}

@media all and (max-width: 1200px) {
  .dashboard-account-page {
    flex-direction: column;
    align-items: center;

    &__block {
      width: 100%;
      justify-content: flex-start;
    }

    &__wrapper {
      margin-bottom: 50px;
    }

    .dashboard-account-patient-info-component {
      flex-direction: column;
    }

    .dashboard-account-provider-info-component,
    .dashboard-account-prof-info-component,
    .dashboard-account-patient-info {
      &__col {
        align-content: stretch;
      }
    }

    .dashboard-account-patient-info-component {
      .dashboard-account-page__block:not(:last-of-type) {
        margin-bottom: 50px;
      }
    }

    &__edit-btn {
      margin-top: auto;
    }
  }
}

@media all and (max-width: 767px) {
  .dashboard-account-page {
    padding: 30px 15px;

    &__wrapper {
      flex-direction: column;
    }

    &__block {
      margin-right: 0 !important;

      &:first-child {
        margin-bottom: 30px;
      }
    }
  }
}
.MyAccountTabdiv
    { 
        margin: 1px;
        height: 45px;
        width: 150px;
        padding: 10px;
        float: left;
        border: 2px solid #4a4a4a;
        border-radius: 5px;
        color: #4a4a4a;
        font-size: 15px;
        font-weight: normal;
        cursor: pointer;
        box-shadow: 0 3px 3px 3px #c7c7c7;        
    }
    
    .MyAccountTabdivActive 
    { 
      background: #4a4a4a;
      color:#fff;
    }
       .recent-orders {
      
      margin-right: 50px;
      margin-bottom: 30px;

      &__title {
        margin-top: 0;
        margin-bottom: 20px;
        color: #333;
        font-size: 24px;
      }

      &__table {
        display: block;
        width: 100%;
        max-width: 816px;
        border-collapse: collapse;
        color: #2B795A;
        overflow: auto;
      }

      &__table-header {
        color: #fff;
        background-color: #4a4a4a;

        .recent-orders__table-cell {
          height: 32px;
          font-weight: bold;
          color: #fff;

          i {
            float: right;
            margin-left: 10px;
            line-height: 20px;
          }
        }
      }

      &__table-body {

        .recent-orders__table-row {
          height: 45px;

          &:nth-child(even) {
            background-color: #f4f4f4;
          }
        }

        .recent-orders__table-cell {
          color: #333;
        }
      }

      &__table-row {
        min-width: 672px;
      }

      &__table-cell {
        padding: 0 20px;
        font-size: 14px;
      }

      &__table-cell-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &__no-orders {
        font-size: 14px;
        font-weight: bold;
        color: #555;
      }
    }
     table {
    width: 100%;

    td {
      border-collapse: collapse;
      padding: 0.7rem;
      font-size: 14px;
      cursor: pointer;

    }

    thead {
      color: #fff;
      font-weight: bold;
      border-bottom: none;
      background-color: #4a4a4a;

      td {
        width: 10%;
      }

      .td-title {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      i {
        color: #8d919c;
        right: 1rem;
        vertical-align: middle;

      }
    }
    tbody {
      height: auto;
      overflow: auto;

      .tr-1, .tr-2 {
        color: #4a4a4a;
        font-weight: 600;
        font-size: 16px;
      }

      .tr-1 {
        background-color: #fff;
      }

      .tr-2 {
        background-color: #f4f4f4;
      }

      .tr-1, .tr-2{
        &:hover {
          background: #cedbef;
          color: rgb(118, 118, 118);
        }

        &.active {
          background-color: #a0c7f4;
          color: #333333;
        }
      }
    }
  }