.dashboard-home-page {
  padding: 0 50px;
  background-color: #fff;

  .panel1-heading{
    background-color: #1CAF9A;
    color:#fff;
    padding-top: 5px;
    border-radius: 5px;
  }
  .panel2-heading{
    background-color: #D9534F;
    color:#fff;
    padding-top: 5px;
    border-radius: 5px;
  }
  .panel3-heading{
    background-color: #428bca;
    color:#fff;
    padding-top: 5px;
    border-radius: 5px;
  }
  
  .panel4-heading{
    background-color:#d6bf2c;
    color:#fff;
    padding-top: 5px;
    border-radius: 5px;
  }


 
  div.box:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .9;
}

  .graphbtnStyle{
    margin-left:2px;
  }

  .no-orders {
    display: block;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 12px;
    color: #2B795A;
  }
  .gap-between{
    display: block;
    text-align: center;

  }
  .buttons-container{
  padding-top:30px;
  }
  .common-label{
  font-size:13px;
  color: black;
  }

  .dashboard-provider-home-block {
    background-image: url(../../img/Health.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    min-height: 80rem;
  }
  .Model-layout{
    height: 370px;
    overflow-y: auto;
  }

  .dashboard-patient-home-block {
    display: flex;
    font-size: 14px;

    .recent-orders {
      width: calc(60% - 50px);
      margin-right: 50px;
      margin-bottom: 30px;

      &__title {
        margin-top: 0;
        margin-bottom: 20px;
        color: #333;
        font-size: 24px;
      }

      &__table {
        display: block;
        width: 100%;
        max-width: 816px;
        border-collapse: collapse;
        color: #2B795A;
        overflow: auto;
      }

      &__table-header {
        color: #fff;
        background-color: #4a4a4a;

        .recent-orders__table-cell {
          height: 32px;
          font-weight: bold;
          color: #fff;

          i {
            float: right;
            margin-left: 10px;
            line-height: 20px;
          }
        }
      }

      &__table-body {

        .recent-orders__table-row {
          height: 45px;

          &:nth-child(even) {
            background-color: #f4f4f4;
          }
        }

        .recent-orders__table-cell {
          color: #333;
        }
      }

      &__table-row {
        min-width: 672px;
      }

      &__table-cell {
        padding: 0 20px;
        font-size: 14px;
      }

      &__table-cell-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &__no-orders {
        font-size: 14px;
        font-weight: bold;
        color: #555;
      }
    }

    .recommended-products {
      width: calc(40% - 35px);
      margin-left: 35px;

      &__title {
        margin: 0 0 20px 15px;
        color: #333;
        font-size: 24px;
      }

      &__list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
      }

      .product-card {
        width: 260px;
        height: 374px;
        margin: 15px;
        padding: 15px 20px;
        border: 1px solid #e3e3e3;
        color: #333;

        &__wrapper {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
        }

        &__product-name {
          font-size: 16px;
        }

        &__product-price {
          font-size: 16px;
          font-weight: bold;
        }

        &__add-to-cart-btn {
          display: flex;
          justify-content: center;
          width: calc(100% - 30px);
          margin: 15px;
          border: 1px solid #4a4a4a;
          font-size: 14px;
          color: #4a4a4a;
          background-color: #fff;

          &:hover {
            color: #fff;
            background-color: #4a4a4a;
          }

          i {
            margin-right: 10px;
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media all and (max-width: 1315px) {
  .dashboard-home-page {
    .dashboard-patient-home-block {
      flex-direction: column;

      .recent-orders {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-right: 0;
      }

      .recommended-products {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% + 15px);
        margin-left: -15px;
        margin-right: -15px;

        &__list {
          width: calc(290px * 3);
          margin: 0 auto;
        }
      }
    }
  }
}

@media all and (max-width: 910px) {
  .dashboard-home-page {
    .dashboard-patient-home-block {

      .recommended-products {

        &__list {
          width: calc(290px * 2);
          margin: 0 auto;
        }
      }
    }
  }
}

@media all and (max-width: 767px) {
  .dashboard-home-page {
    padding: 0 15px;

    .dashboard-patient-home-block {
      flex-direction: column;

      .recent-orders {
        width: 100%;
        margin: 0;
      }

      .recommended-products {
        justify-content: center;
      }
    }
  }
}

@media all and (max-width: 620px) {
  .dashboard-home-page {
    padding: 0;

    .dashboard-patient-home-block {

      .recent-orders {

        &__table-cell {
          padding: 0 10px;
        }
      }

      .recommended-products {
        margin: 0;

        &__list {
          width: calc(290px);
          margin: 0 auto;
        }
      }
    }
  }
}